.ver-detalhes {
    position: relative;
    cursor: pointer;
    color: #555;
}

.popup-detalhes {
    position: absolute;
    top: 25px;
    left: 0;
    width: 350px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 10;
    font-size: 14px;
    border-radius: 8px;
}